@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url('https://i.postimg.cc/fT9ys4V6/sky2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/** Main **/
main {
    width: 100%;
    height: 90%;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(95%);

}

/** Backgrounds **/
.bg-1 {
    background-image: url('https://i.postimg.cc/fT9ys4V6/sky2.jpg');
    background-position: 0 0;
}

.bg-2 {
    background-image: url('https://i.postimg.cc/MGkTjPFd/sky.jpg');
    background-position: center center;
}

.bg-b {
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #cfdef300, #e0eafc69);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/** Header **/
header {
    width: 100%;
    height: 10%;
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: 'Bruno Ace', cursive;
    font-size: 0.8em;
    backdrop-filter: brightness(95%) blur(1px);
}

/** Inputs **/
input {
    text-align: center;
    border-radius: 1em;
}

/** Fonts **/
.font-primary {
    font-family: 'Bruno Ace', cursive;
}

/** Flex **/
.flexed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}